  <div class='footer'>
      <div class='footer-contents'>
        <div class='sound-details'>
          <h2 class='footer-content-head'>SoundReviewについて</h2>
          <ul>
            <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
            <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
            <li><%= link_to 'SoundReview利用規約', "#", class: "footer-link" %></li>
          </ul>
        </div>
        <div class='sound-details'>
          <h2 class='footer-content-head'>Reviewを見る</h2>
          <ul>
            <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
          </ul>
        </div>
        <div class='sound-details'>
          <h2 class='footer-content-head'>SoundReviewについて</h2>
          <ul>
            <li><%= link_to 'SoundReviewガイド', "#", class: "footer-link" %></li>
            <li><%= link_to 'SoundReviewロゴ利用ガイドライン', "#", class: "footer-link" %></li>
            <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
          </ul>
        </div>
      </div>
      <%= link_to image_tag("soundreview.png", class:"foot-icon"), "/" %>
      <p>© soundreview</p>
  </div>